.background {
  viewport-fill: black;
}

#timeLabel {
  font-size: 80;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#batteryLabel {
  font-size: 15;
  text-length: 32;
  fill: white;
  x: 60%;
  y: 75%;
}

#stepsLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 40%;
  y: 80%;
}

#heartRateLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 30%;
  y: 75%;
}

#dayLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 25%;
  y: 40%;
}

#dateLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 55%;
  y: 40%;
}
