.background {
  viewport-fill: black;
}

#image{
  x: -5;
  y: -5;
  width: 105%;
  height: 105%;
}

#timeLabel {
  font-size: 75;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 55%;
  fill: white;
  font-family: Colfax-Light;
}

#batteryLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 65%;
  y: 65%;
}


#stepsLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 50%;
  y: 75%;
}

#heartRateLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 37%;
  y: 65%;
}

#dayLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 33%;
  y: 33%;
}

#dateLabel {
  font-size: 20;
  text-length: 32;
  fill: white;
  x: 48%;
  y: 33%;
}

/* ICONS */

.heart-container {
  width: 8%;
  height: 8%;
  x: 27%;
  y: 58%;
  fill: #ffa6c5;
}

.heart {
  width: 8%;
  height: 8%;
  x: 27%;
  y: 58%;
}

.battery-container{
  width: 8%;
  height: 8%;
  x: 55%;
  y: 58%;
  fill: #595959;
}

.battery {
  width: 8%;
  height: 8%;
  x: 55%;
  y: 58%;
}

.battery-fill  {
  height: 8%;
  x: 55%;
  y: 58%;
}

.steps-container {
  width: 8%;
  height: 8%;
  x: 40%;
  y: 68%;
  fill: #86cbcf;
}

.steps {
  width: 8%;
  height: 8%;
  x: 40%;
  y: 68%;
}
