.background {
  viewport-fill: black;
}

#timeLabel {
  font-size: 80;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#batteryLabel {
  font-size: 15;
  text-length: 32;
  fill: white;
  x: 60%;
  y: 75%;
}
